<%- include('partials/header') %> <%- include('partials/nav') %>

<div class="container">
  <div class="starter-template">
    <h1><%= cityName %></h1>
    <p class="lead">Know your weather.</p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Alerts</h3>
        </div>
        <div class="panel-body">
          <p class="text-center"><%= alert %></p>
        </div>
        <p class="text-center"><strong>UV Level:</strong> <%= testData.current.uv  %> <br><em>Protection measures advised at 5+</em></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Weather</h3>
        </div>
        <div class="panel-body">
          <h1 id="displayTemp" class="text-center"><%= temp_c %>°c</h1>
            <h3 class="text-center conditionText"><%= condition %></h3>
            <p></p>
            <img style="filter:grayscale(100%)"class="center-block" src="<%= icon %>">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Forecast</h3>
        </div>
        <div class="panel-body">
          <h5 class="text-center">Today:</h5>
          <p id="today" class="text-center"><%= maxtemp_c %>°c / <%= mintemp_c %>°c </p>
          <h5 class="text-center">Tomorrow:</h5>
          <p id="tomorrow" class="text-center"><%= tomorrowMaxtemp_c %>°c / <%= tomorrowMintemp_c %>°c</p>
          <h5 class="text-center">Day After:</h5>
          <p id="dayafter" class="text-center"><%= dayafterMaxtemp_c %>°c / <%= dayafterMintemp_c %>°c</p>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-sm btn-default center-block toggle" id="toggle">Change to F°</button>
  
  <script>
    const toggleBtn = document.getElementById('toggle');
    let isCelcius = true;
  
    toggleBtn.addEventListener('click', function() {
      isCelcius = !isCelcius; // toggle the unit
      const displayTemp = document.getElementById('displayTemp');
      const today = document.getElementById('today');
      const tomorrow = document.getElementById('tomorrow');
      const dayafter = document.getElementById('dayafter');
      const buttonText = document.getElementById('toggle');
      if (isCelcius) {
        displayTemp.innerText = <%= temp_c %> + "°c"; // update temperature display to Fahrenheit
        today.innerText = "<%= maxtemp_c %>°c / <%= mintemp_c %>°c";
        tomorrow.innerText = "<%= tomorrowMaxtemp_c %>°c / <%= tomorrowMintemp_c %>°c";
        dayafter.innerText = "<%= dayafterMaxtemp_c %>°c / <%= dayafterMintemp_c %>°c";
        buttonText.innerText = "Change to F°";
      } else {
        displayTemp.innerText = <%= temp_f %> + "°f"; // update temperature display to Celsius
        today.innerText= "<%= maxtemp_f %>°f / <%= mintemp_f %>°f";
        tomorrow.innerText = "<%= tomorrowMaxtemp_f %>°f / <%= tomorrowMintemp_f %>°f";
        dayafter.innerText = "<%= dayafterMaxtemp_f %>°f / <%= dayafterMintemp_f %>°f";
        buttonText.innerText = "Change to C°";
      }
    });
  </script>

</div>
<%- include('partials/footer')%>